@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #2e2e2e;
  font-family: "Montserrat", Arial, sans-serif;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

h1 {
  font-size: 50px;
  text-align: center;
}

a {
  color: #fff;
}

ul {
  list-style-type: none;
    font-size: 36px;
    text-align: center;
}

.ing-list,
.ins-list {
  font-size: 25px;
}
